.apple_watch9_series {
    background-image:  url("../../assets/images/promos/promo_apple_watch_series_9_order_large.jpg"); 
	background-color: #fbfbfd;
	background-position: bottom;
	padding-top: 35px;
	background-size: auto;	
	height: 10rem;
}